body {
  padding: 30px 30px;
}
h1 {
  color: black;
}
.signin{
  text-align: center;
  color: black;
  background: #fbdb5c;
  margin: auto;
}

.header{
  color: black;
  background: #fbdb5c;
  text-align: center;
  width: 100%;
  margin: auto;
}
.image{
  width:150px;
}
nav {
    display: inline;
    float: right;
}

