<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="description" content="Calendoodle">
       <title>Calendoodle - Event List</title>
       <!-- styles -->
       <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
   </head>

   <body>
       <nav>
           <nav>
               <a href="{{ url_for('index') }}">Dashboard</a> ||<br>
               <a href="{{ url_for('get_events') }}">Event Requests</a> ||
               <a href="{{ url_for('new_event') }}">New Event</a> ||
               <a>Friends</a> ||<br>
               <a>My Profile</a>
           </nav>
           {% if user %}
               <nav>
                   <a href="{{ url_for('logout') }}">Logout</a>
               </nav>
           {% else %}
               <nav>
                   <a href="{{ url_for('login') }}">Sign In</a>
               </nav>
           {% endif %}
       </nav>

       <h1>Welcome {{ user }} to Calendoodle!</h1>

       <h1>My Feed</h1>

       <form method="POST" action="/register">
            <div class="form-field">{{ form.firstname.label }} {{ form.firstname }}</div>
            {{ form.submit }}
        </form>

       <table>
           <tr>
                <th>Event Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
           {% for event in events %}
           <tr>
               <td><a href="{{ url_for('get_event', event_id=event.id) }}">{{ event.name }}</a></td>
               <td>{{ event.description }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.location }}</td>
               <td><a href="{{ url_for('update_event', event_id=event.id) }}">Edit</a></td>
               <td>
                   <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
                       <input type="submit" value="Delete"/>
                   </form>
               </td>
           </tr>
           {% endfor %}
       </table>
   </body>
</html>


