
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Calendoodle App">
        <title>Calendoodle Dashboard</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{ url_for('get_events') }}">Dashboard</a> ||
            <a href="{{ url_for('get_events') }}">Event Requests</a> ||
            <a>Friends</a> ||
            <a>My Profile</a> ||
        </nav>
        {% if user %}
            <nav>
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}">Sign In</a>
            </nav>
        {% endif %}

        <h1>Welcome {{ user }} to Calendoodle!</h1>

        <h2></h2>

        <h3>My Feed</h3> <!--Attached to my Events html file-->

        <h3>My Events</h3>
    </body>
</html>
